@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root{
    --bleu-fonce: #36454f;
    --bleu-moyen: #536878;
    --gris-clair: #708090;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    /*background-color: rgba(19, 20, 22, 0.92);*/
    background-color: var(--bleu-fonce);
    /*background-image: url("img/accueil3.jpg");
    background-position: 50% 100%;*/
}

body{
    margin: 0 0 3rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: .938rem;
    /* background-color: #131416;*/
    /*color: rgb(3, 144, 238);*/
}

h1,h2,h3,h4{
    color: rgb(3, 144, 238);
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Style the video: 100% width and height to cover the entire window */
/*#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}*/

section {
    padding: 300px 0;
}
/*
#navbar{

    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
    z-index: 999;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
}*/

.navbar {
    position:fixed;
    width:100%;
    padding : 30px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    /*background: rgb(10, 107, 218);*/
    background: var(--gris-clair);
    padding : 15px 0;

}
.navbar.sticky li a:hover{
    color : #444;
}
.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar.sticky .logo a span {
    color:lightseagreen;

}

.navbar .logo a span{
    /*color: rgb(10, 107, 218);*/
    color: lightseagreen;
    transition: all 0.3s ease;
}

.max-width {
    max-width: 1500px;
    padding: 0 80px;
    margin:auto;
}

.navbar .max-width {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li {
    list-style: none;
    display:inline-block;
}

.navbar .menu li a {
    color: aliceblue;
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    /*color: rgb(10, 107, 218);*/
    color: lightseagreen;
}

.navbar.sticky .menu li a:hover {
    /*color:#444444;*/
    color: lightseagreen;
}

/* menu bouton */
.menu-btn {
    color:white;
    font-size : 23px;
    cursor:pointer;
    display: none;
}

section {
    padding: 100px 0;
}
.home {
    padding-top : 175px;
}
.home .contenu {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home .contenu .colonne-droite {
    display: none;
    width:40%;
}
.home .contenu .colonne-droite img{
    height: 479px;
    width: 521px;
    object-fit: cover;
    padding-left: 50px;
}

.home .contenu .colonne-gauche {
    width:100%;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}

.home .contenu {
    /*border: 2px solid #444;*/
    /*background-color: #36454f;*/
    background-color: 	var(--bleu-moyen);
    padding: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.home .contenu:hover {
    transform: scale(1.05);
}



.bloc1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    padding: -150px;
    /*background-color: #db1262;*/
}

.home .text1{
    padding: 10px;
    /*background-color: rgb(80, 160, 206);*/
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.home .text1 p{
    font-size: .7em;
}

.home .text1 p strong{
    /*color: rgb(10, 107, 218);*/
    color: var(--gris-clair);
}

.home, .photo{
    align-items: center;
}

.network{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1em;
}

.home .network .logo-reseaux a:hover{
    opacity: 0.4;
}

.home .logo-reseaux{
    transition: all 0.3s ease;
    margin-top: 10px;
}

.home .logo-reseaux:hover{
    /*color: rgb(10, 107, 218);*/
    color: lightseagreen;
}

.home .logo-reseaux p strong{
    /*color: rgb(10, 107, 218);*/
    color: var(--gris-clair);
}

.home .logo-reseaux p i{
    color: lightseagreen;
}


.scroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.scroll .btn-scroll a{
    color: lightseagreen;
    font-size: 35px;
}

.scroll .btn-scroll a:hover{
    opacity: 0.4;
}

.scroll .txt-btn-scroll{
    /*color: rgb(10, 107, 218);*/
    color: var(--gris-clair);
    font-size: 25px;
}

@keyframes flottage {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.btn-scroll {
    overflow: hidden;
    background-color: transparent;
    transform: translatey(0px);
    animation: flottage 3s ease-in-out infinite;
}

.home .lien-text {
    color: lightseagreen;
    text-decoration: none;
    position: relative;
}

.home .lien-text::after {
    content:'';
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height:2px;
    background-color: currentColor;
    transform : scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
.home .lien-text:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.home .lien-text:hover{
    transform: scale(1.05);
}



/*==========Partie présentation==============*/
.motivation{
    padding: 10px;
    /*background-color: rgb(80, 160, 206);*/
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    margin-top: 30px;
}



/*===========Partie projets==============*/
.projets{
    /*background-color: rgba(19, 20, 22, 0.92);*/
    background-color: 	var(--bleu-fonce);
    text-align: center;
}

.projets .max-width{
    max-width: 1500px;
}

.projets .titre a{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
    /*font-family: 'Otomanopee One', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.projets .projet-carte p{
    color: whitesmoke;
}
.projets .projets-univ strong, .projets-perso strong{
    color: lightseagreen;
}

.projets .projets-univ {
    display:flex;
    flex-wrap: wrap;
    align-items : center;
    justify-content: space-around;
    margin-top:30px;
}

.projets .projets-univ .projet1 {
    width: calc(33% - 30px); /*à modifier pour ajouter/retirer des projets sur la même ligne*/
    background: var(--bleu-moyen);
    border-radius: 6px;
    padding: 20px 25px;
    margin-bottom: 50px;
}

.projets .projet-carte{
    transition: all 0.3s ease;
}

.projets .projet-carte:hover{
    transform: scale(1.05);
}

.projets .titre-projets{
    color: lightseagreen;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.projets .btnprojets{
    display: inline-block;
    background: lightseagreen;
    color: ghostwhite;
    font-size: 15px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 6px;
    border: 2px solid ghostwhite;
    transition: all 0.3s ease;
}

.projets .btnprojets:hover{
    transform: scale(1.05);
    background-color: transparent;
    border-color: lightseagreen;
    color: lightseagreen;
}
/*
.projets .projet-carte img{
    transition: all 0.3s ease;
    margin: 10px 0;
}

.projets .projet-carte img:hover{
    transform: scale(1.05);
}*/

/*===========Partie Modal=============*/
/* The Modal (background) */
.projets .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 10px;
}

/* Modal Content */
.projets .modal-content {
    background: var(--bleu-moyen);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.projets .close {
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.projets .close:hover,
.projets .close:focus {
    color: var(--bleu-fonce);
    text-decoration: none;
    cursor: pointer;
}


/*====== Partie présentation ========*/
.presentation{
    background-color: var(--bleu-moyen);
}

.presentation .max-width{
    max-width: 1500px;
}

.presentation .titre2{
    text-align: center;
    margin-bottom: 30px;
}

.presentation h2 a{
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}


/*====== Partie compétences =======*/
.competences{
    background-color: var(--bleu-moyen);
}

.competences .max-width{
    max-width: 1500px;
}

.competences img{
    width: 48px;
    height: 48px;
}

.competences .titre2{
    text-align: center;
    margin-bottom: 30px;
}

.competences .liste-competences{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.competences h2 a{
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.competences .competence{
    margin: 15px;
    text-align: center;
}

.competences .text-competences{
    color: whitesmoke;
}

.competences .titre-partie{
    background-color: whitesmoke;
    color: #536878;
    font-size: 1.3em;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.competences .partie-web{
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.competences .partie-donnee{
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
}

.competences .prog{
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
}

.competences .logiciel{
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
}

.competences .competence_autres{
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
}

.competences .partie-web, .partie-donnee, .prog, .logiciel, .competence_autres{
    border-radius: 10px;
    transition: all 0.3s ease;
}

.competences .partie-web:hover, .partie-donnee:hover, .prog:hover, .logiciel:hover,
.competence_autres:hover
{
    transform: scale(1.05);
}



/*===== Partie Formations ======*/
.formations .max-width{
    max-width: 1200px;
}

.formations{
    background-color: var(--bleu-fonce);
}
.formations .titre3{
    text-align: center;
    margin-bottom: 30px;
}

.formations h2 a{
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.formations .liste-formations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.formations .dut_formation{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bleu-moyen);
    color: whitesmoke;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
}

.formations .dut_formation .img_gauche{
    width: 48px;
    height: 48px;
}

.formations .dut_formation .img_plus{
    width: 48px;
    height: 48px;
}

.formations .dut_formation .img_moins{
    display: none;
    width: 48px;
    height: 48px;
}

.formations .zone_plus{
    display: none;
    padding: 20px;
    margin-top: -25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}


/*===== Partie Expériences ======*/
.experiences .max-width{
    max-width: 1200px;
}

.experiences{
    background-color: var(--bleu-moyen);
}
.experiences .titre3{
    text-align: center;
    margin-bottom: 30px;
}

.experiences h2 a{
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.experiences .liste-experiences{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.experiences .dut_experiences{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bleu-fonce);
    color: whitesmoke;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
}

.experiences .dut_experiences .img_gauche{
    width: 48px;
    height: 48px;
}

.experiences .dut_experiences .img_plus{
    width: 48px;
    height: 48px;
}

.experiences .dut_experiences .img_moins{
    display: none;
    width: 48px;
    height: 48px;
}

.experiences .zone_plus{
    display: none;
    padding: 20px;
    margin-top: -25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.experiences .missions{
    list-style: inside;
}

.experiences .missions li{
    margin-left: 20px;
}


/*===== Partie Contact =====*/
.contact .max-width{
    max-width: 700px;
}

.contact{
    background-color: var(--bleu-fonce);
}
.contact .titre3{
    text-align: center;
    margin-bottom: 30px;
}

.contact h2 a{
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.contact #form-contact{
    background-color: var(--bleu-moyen);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.contact #form-contact form{
    padding: 10px;
}
.contact #form-contact #form-part1 input{
    width: 43%;
}

.contact #form-contact #form-part2 input{
    width: 93%;
}

.contact #form-contact #form-part3 input{
    width: 93%;
}

.contact #form-contact button{
    width: 93%;
    background-color: lightseagreen;
    color: white;
}

.contact #form-contact button:hover{
    width: 93%;
    background-color: transparent;
    color: lightseagreen;
    border-color: lightseagreen;
}

.contact textarea, input, button{
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/* Responsivité */

@media (max-width: 1450px) {
    .projets .projets-univ .projet1 {
        width: calc(50% - 30px);
    }
}

@media (max-width: 1200px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index:999;
    }
    .menu-btn i.active:before {
        content: "\f00d"
    }
    .navbar .menu {
        position: fixed;
        background: #111;
        height:100vh;
        width: 100%;
        padding-top:80px;
        left:-100%;
        top:0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display:block;
    }
    .navbar .menu li a{
        display:inline-block;
        margin : 20px 0;
        font-size:25px;
    }
    .home .contenu{
        flex-direction: column;
    }
    .home .contenu .colonne-droite{
        width: 100%;
        text-align: center;
    }
    .home .contenu .colonne-gauche{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .projets .projets-univ .projet1 {
        width: calc(100% - 30px);
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
}

@media (max-width: 570px) {
    .network{
        justify-content: space-evenly;
    }
    .home .network .logo-reseaux p strong {
        display: none;
    }
    .home .logo-reseaux p i{
        font-size: 2em;
    }
    .home .contenu .colonne-droite img{
        height: 239px;
        width: 260px;
        padding-left: 0px;
    }
    .home .text1{
        font-size: .8em;
    }
}





/*
@media (max-width:376px) {
    .navbar .logo a {
        color: white;
        font-size: 35px;
        font-weight: 600;
        margin-right: 20px;
    }
}*/




/* Partie slidershow projets */

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
    border: 2px solid white;
    left: -50px;
}
.slides {
    width: calc(700px * 8);
    animation: glisse 30s infinite;

}
.slide1 img{ /*taille screens : 1680*1010*/
    float: left;
    width: 700px;
    height: 505px;
}

.slide2 img{ /*taille screens : 1680*1010*/
    float: left;
    width: 700px;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-700px);
    }
    40% {
        transform: translateX(-700px);
    }
    55% {
        transform: translateX(-1400px);
    }
    70% {
        transform: translateX(-1400px);
    }
    85% {
        transform: translateX(-2100px);
    }
    100% {
        transform: translateX(-2100px);
    }
}